<!DOCTYPE html>
<html>
<head>
	<title>Write your entry</title>
	<style>
		body {
			font-family:Arial, sans-serif;
			Background-color: #e6ffofa;
			padding:20px;
			color:#333
		}

		h1 {
			color:#2c3e50
		}

		body {
			margin-top: 20px
		}

		textarea {
			width: 100px;
			height: 150px;
			font-size:16px;
		}

		button {
			margin-top:10px;
			padding: 10px 20px;
			font-size: 16px;
		}
	</style>
</head>
<body>
	<h1>Write Your Daily Entry</h1>
	<form method="post">
		<textarea name="entry" placeholder="Type your thoughts here.."></textarea><br>
		<button type="submit">Submit<</button>
	</form>
	<p><a href="/">Back to Home</a></p>
</body>
</html>